Make: <%= @car.make %>
<br/>
Model: <%= @car.model %>
<br/>
Year: <%= @car.year %>
<br/>
Speed: <%= @car.speed %> mph

<form id="accelerate" action="/cars/accelerate">
  <input type="submit" value="Accelerate"/>
</form>
