<h1>Welcome to the Car Simulator</h1>

<form id="new_car" action="/cars/create">
  <label for="make">Make: </label>
  <input type="text" name="make" id="make"/>
  <label for="model">Model: </label>
  <input type="text" name="model" id="model"/>
  <label for="year">Year: </label>
  <input type="number" name="year" id="year"/>
  <input type="submit" value="Create New Car"/>
</form>
